*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: linear-gradient(to bottom,
      #009688 0px,
      #009688 15vh,
      #DDDBD1 15vh,
      #D2DBDC 100%);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.app-container{
   width: 90vw;
   height: 95vh;
   display: flex;
}

/* ---LEFT CONTAINER--- */

/*UTILITIES*/

.utility-container{
   width: 35%;
   min-width: 300px;
}

.utility-personal{
   height: 80px;
   background-color: #EAEAEA;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.utility-infos{
   display: flex;
   align-items: center;
}

.utility-infos > img{
   width: 50px;
   border-radius: 50%;
   margin-left: 10px;

}

.utility-infos > span{
   margin-left: 10px;
   font-weight: bold;
}

.utility-icons > i{
   color: #B1B1B1;
   font-size: 20px;
   margin-right: 10px;

}

/*NOTIFY*/

.utility-notify{
   background-color: #8EDAFC;
   display: flex;
   align-items: center;
}

.bell{
   height: 50px;
   width: 50px;
   background-color: white;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 10px;
}

.bell > i {
   color: #8EDAFC;
   font-size: 20px;
}

.switch {
   margin-left: 10px;
}

.switch > div{
   font-weight: bold;
}

.switch > a{
   color: #4F7485;
}







.utility-search{
   background-color: #FAFAFA;
}

.utility-contacts{
   height: calc(100% - 80px - 50px - 100px);
   background-color: white;
}

/* --- RIGHT CONTAINER --- */


.chat-container{
   width: 65%;
   min-width: 600px;
   overflow:hidden;
}

.chat-info{
   height: 80px;
   background-color: #EAEAEA;
}

.chat-box{
   height: calc(100% - 160px);
   background-image: url('../img/mine.jpg');
}

.chat-input{
   background-color: #F3EEEA;
   height: 80px;
}














/* Classi Debug */

.border{
   border: 1px solid yellow;
}

.h-50{
   height: 50px;
}

.h-100{
   height: 100px;
}

.h-500{
   height: 500px;
}
