<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Boolzapp</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/style.css">
   </head>
   <body>
         <div id="root" class="app-container">

<!-- UTILITIES SECTION  -->

            <div class="utility-container">
               <div class="utility-personal">
                  <div class="utility-infos">
                     <img :src="mainUser.avatar" alt="Avatar personale">
                     <span>{{mainUser.name}}</span>
                  </div>
                  <div class="utility-icons">
                     <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                     <i class="fa fa-comment" aria-hidden="true"></i>
                     <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                  </div>
               </div>

<!-- NOTIFY SECTION  -->

               <div class="utility-notify">
                  <div class="bell">
                     <i class="fa fa-bell-slash" aria-hidden="true"></i>
                  </div>
                  <div class="switch">
                     <div>Ricevi notifiche di nuovi messaggi</div>
                     <a href="#">Attiva notifiche dekstop</a>
                  </div>
               </div>

<!-- SEARCH SECTION  -->

               <div class="utility-search">
                  <div class="searchbar">
                     <i class="fa fa-search" aria-hidden="true"></i>
                     <input @input="search"  v-model="actualSearch" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
                  </div>
               </div>

<!-- CONTACTS SECTION  -->

               <div class="utility-contacts">
                  <ul class="my-contacts">
                     <li @click="pickActive(index)" v-for="(contact,index) in contactsArray" :class="[{active : contact.isActive},contact.filt]">
                        <a href="#">
                           <img :src="contact.avatar" alt="Immagine Contatto">
                           <span>{{contact.name}}</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>

<!-- CHAT SECTION  -->
            <div class="chat-container">

<!-- INFO SECTION  -->

               <div class="chat-info">
                  <div class="chat-utility">
                     <div class="chat-data">
                        <img :src="contactsArray[activeContact].avatar" alt="Avatar personale">
                        <div class="user-info">
                           <span>{{contactsArray[activeContact].name}}</span>
                           <div>Ultimo accesso oggi alle</div>
                        </div>
                     </div>
                     <div class="chat-icons">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                     </div>
                  </div>
               </div>

<!-- BOX SECTION  -->

               <div class="chat-box">
                  <ul v-if="show" class="contact-chat">
                     <li v-for="el in contactsArray[activeContact].chat" :class="el.status">
                        <div class="message" :class="el.status">
                           <span>{{el.msg}}</span>
                           <div>{{el.dataMsg}}</div>
                        </div>
                     </li>
                  </ul>
               </div>

<!-- INPUT SECTION  -->

               <div class="chat-input">
                  <i class="fa fa-smile-o" aria-hidden="true"></i>
                  <input @keyup.enter="write" type="text"  placeholder="Scrivi un messaggio" v-model="actualMsg">
                  <i class="fa fa-microphone" aria-hidden="true"></i>
               </div>
            </div>
         </div>
      <script src="js/main.js"></script>
   </body>
</html>
